---
on:
  push:
    branches:
      - main
      - develop
  pull_request:

name: jet-contracts
jobs:
  tests:
    name: Static Analysis (Check This Report Before Merging)
    runs-on: ubuntu-latest
    env:
      INFURA_KEY: ${{secrets.INFURA_KEY}}
      ETHERSCAN_API_KEY: ${{secrets.ETHERSCAN_API_KEY}}
      PRIVATE_KEY_TESTNET: ${{secrets.PRIVATE_KEY_TESTNET}}
      PRIVATE_KEY: ${{secrets.PRIVATE_KEY}}
      MNEMONIC: ${{secrets.MNEMONIC}}
      AURORA_API_KEY: ${{secrets.AURORA_API_KEY}}
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - run: pip install slither-analyzer==0.11.3
      - run: yarn install
      - run: slither . --filter-paths "node_modules|testing" --exclude timestamp,reentrancy-no-eth,reentrancy-events,reentrancy-benign || true
